<!-- We display all the itmes currently on sale in tables  -->

{% extends "test.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
  <!-- Header -->
  <h1 class="w3-main" style="margin-top:50px;text-align:center"><b>Current Listings</b></h1>

  <div class="w3-container" style="margin-top:80px" id="dorm">
    <h1 class="w3-xxxlarge w3-text-red"><b>Dorm Supplies.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="https://rnb.scene7.com/is/image/roomandboard/698884_wood_W?scl=1" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
      <form action="/buy">
        <input class="form-control mx-auto w-auto" type="submit" value="Buy" />
      </form>      
      <img src="https://m.media-amazon.com/images/I/81J5r9dANGL._SL1500_.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <button class="btn btn-primary" type="submit">Register</button>
      <img src="/w3images/diningroom.jpg" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>

    <div class="w3-half">
      <img src="/w3images/atrium.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="/w3images/bedroom.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="/w3images/livingroom2.jpg" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Clothes -->
  <div class="w3-container" id="clothes" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Clothes</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    <div class="w3-row-padding">
        <div class="w3-half">
          <img src="https://rnb.scene7.com/is/image/roomandboard/698884_wood_W?scl=1" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <img src="https://m.media-amazon.com/images/I/81J5r9dANGL._SL1500_.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
        </div>
    
        <div class="w3-half">
          <img src="https://m.media-amazon.com/images/I/71qtAiNUCpL._AC_SX425_.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
          <img src="https://i.insider.com/60f860760729770012b91c62?width=700" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
        </div>
    </div>
  </div>

  <!-- Textbooks -->
  <div class="w3-container" id="textbooks" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Textbooks</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    <div class="w3-row-padding">
        <div class="w3-half">
          <img src="https://rnb.scene7.com/is/image/roomandboard/698884_wood_W?scl=1" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <img src="https://m.media-amazon.com/images/I/81J5r9dANGL._SL1500_.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
        </div>
    
        <div class="w3-half">
          <img src="https://m.media-amazon.com/images/I/71qtAiNUCpL._AC_SX425_.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
          <img src="https://i.insider.com/60f860760729770012b91c62?width=700" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
        </div>
    </div>
  </div>
  
  <!-- Tickets -->
  <div class="w3-container" id="tickets" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Tickets</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    <div class="w3-row-padding">
        <div class="w3-half">
          <img src="https://rnb.scene7.com/is/image/roomandboard/698884_wood_W?scl=1" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <img src="https://m.media-amazon.com/images/I/81J5r9dANGL._SL1500_.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
        </div>
    
        <div class="w3-half">
          <img src="https://m.media-amazon.com/images/I/71qtAiNUCpL._AC_SX425_.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
          <img src="https://i.insider.com/60f860760729770012b91c62?width=700" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
        </div>
    </div>
  </div>

{% endblock %}