<!-- We display all the itmes currently on sale in tables  -->

{% extends "test.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

  <!-- Header -->
  <h1 class="w3-main" style="margin-top:50px;text-align:center"><b>Current Listings</b></h1>
  <!-- {% for dict in table %}
    {% if dict.category == "asdf" %}
      <img src="{{ 'data:image/png;base64,{}'.format(dict.file) }}"/>
    {% endif %}     
  {% endfor %} -->


  <div class="w3-container" style="margin-top:80px" id="dorm">
    <h1 class="w3-xxlarge w3-text-red"><b>Dorm Supplies.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

   <!-- Photo grid (modal) -->
   {% for dict in table %}
    {% if dict.category == "dorm" %}
      <div class="w3-row-padding">
        <div class="w3-half">
          <img src="{{ 'data:image/png;base64,{}'.format(dict.file) }}" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <form action="/buy">
            <input class="form-control mx-auto w-auto" type="hidden" id="item_id" name="item_id" value="{{ dict.id }}">
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" type="submit">Buy</button>
            </div>
          </form>      
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Clothes -->
  
  <div class="w3-container" id="clothes" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Clothes</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    {% for dict in table %}
      {% if dict.category == "clothing" %}
        <div class="w3-row-padding">
            <div class="w3-half">
              <img src="{{ 'data:image/png;base64,{}'.format(dict.file) }}" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
              <form action="/buy">
                <input class="form-control mx-auto w-auto" type="hidden" id="item_id" name="item_id" value="{{ dict.id }}">
                <div class="d-flex justify-content-center">
                  <button class="btn btn-primary" type="submit">Buy</button>
                </div>              
              </form>            
            </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Textbooks -->
  <div class="w3-container" id="textbooks" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Textbooks</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    <div class="w3-row-padding">
      {% for dict in table %}
        {% if dict.category == "textbooks" %}
          <div class="w3-row-padding">
              <div class="w3-half">
                <img src="{{ 'data:image/png;base64,{}'.format(dict.file) }}" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
                <form action="/buy" method="get">
                  <input class="form-control mx-auto w-auto" type="hidden" id="item_id" name="item_id" value="{{ dict.id }}">
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Buy</button>
                  </div>
                </form>            
              </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <!-- Tickets -->
  <div class="w3-container" id="tickets" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Tickets</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    <div class="w3-row-padding">
      {% for dict in table %}
        {% if dict.category == "tickets" %}
          <div class="w3-row-padding">
              <div class="w3-half">
                <img src="{{ 'data:image/png;base64,{}'.format(dict.file) }}" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
                <form action="/buy">
                  <input class="form-control mx-auto w-auto" type="hidden" id="item_id" name="item_id" value="{{ dict.id }}">
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Buy</button>
                  </div>                
                </form>            
              </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Misc -->
  <div class="w3-container" id="misc" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Misc</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    <div class="w3-row-padding">
      {% for dict in table %}
        {% if dict.category == "misc" %}
          <div class="w3-row-padding">
              <div class="w3-half">
                <img src="{{ 'data:image/png;base64,{}'.format(dict.file) }}" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
                <form action="/buy">
                  <input class="form-control mx-auto w-auto" type="hidden" id="item_id" name="item_id" value="{{ dict.id }}">
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Buy</button>
                  </div>                
                </form>            
              </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}